header {	
	margin-bottom: 5px;
	background: #333;
	color: #EEE;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.8);
	position: fixed;
	width: 100%;
	font-weight: 300;
	overflow: hidden;
	height: 44px;
	line-height: 44px;
}
header h3 {
	display: inline-block;	
	padding: 3px;
	padding-left: 6px;
	margin: 0;
	font-size: 20px;
}
header p {
	display: inline;
	margin: 0;
	font-size: 14px;
}

.main {
	padding-top: 44px;
}

.photo {
	width: 300px;
	padding: 5px;
	display: inline-block;	
	height: 350px;
	overflow: hidden;
}
.photo img {
	width: 300px;
	height: 300px;
}
.caption {
	font-size: 12px;
}

footer {
	border-top: 1px solid #CCC;
	padding: 10px;
	font-size: 12px;
	background: #FCFCFC;
}